Source: opensim
Maintainer: Christopher Dembia <cld72@cornell.edu>
Section: science
Priority: extra
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9),
               cmake,
               doxygen,
               libsimbody4.0-dev,
               swig
Vcs-Browser: https://github.com/opensim-org/opensim-core
Vcs-Git: git://github.com/opensim-org/opensim-core.git
Homepage: https://opensim.stanford.edu

Package: libopensim4.0
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: OpenSim musculoskeletal modeling/simulation - shared libraries
 OpenSim is a software platform for modeling humans, animals,
 robots, and the environment, and simulating their interaction and movement. 
 The software is used by the musculoskeletal biomechanics research
 community. The core OpenSim libraries are written in C++.
